.DS_Store
PortMaster/*
/*.txt
update.tar
update-arkos.tar
update-darkos.tar
/*.gz
bin/pm_libs/*
/*.img.xz
*.img.xz
PortMaster/
sh/firstboot.sh
/*.bak
roms/tools/PortMaster/
roms/j2me/jdk/
boot/dArkOS/dtb_selector_*

# 构建时下载/解压的产物，不入库
roms/tools/PortMaster.sh
roms/tools/PortMaster/
rootfs/ArkOS/home/ark/.config/retroarch/cores/mame_libretro.so
